<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>领取中心</title>
    <!-- 引入jquery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>

    <!-- 引入 css  -->
    <!-- 引入bootstrap的css -->
    <link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="../js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />

    <!-- 引入 js  -->
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>
    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>

    <style>
        body{ text-align:center}
        #divcss5{margin:0 auto;border:0px solid #000;width:1000px}

    </style>

</head>
<body>

<!-- 网页顶部导航信息 -->
<!--导航条  最上头放置以下内容的黑框-->
<nav class="navbar navbar-inverse navbar-fixed-top">

    <!-- 容器 以下内容为 顶部信息   -->
    <div class="container-fluid">

        <!-- 此段为窗口小化时用’三‘来代替隐藏所有导航信息 -->
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
            <span class="sr-only">Toggle navigation</span> <span
                class="icon-bar"></span> <span class="icon-bar"></span> <span
                class="icon-bar"></span>
        </button>
        <!-- Brand and toggle get grouped for better mobile display -->

        <!-- 头部信息 -->
        <div class="navbar-header">
            <a class="navbar-brand glyphicon glyphicon-globe"
               href="#" id="menu-toggle"> 三组酒圣网 </a>
        </div>

        <!-- 左边 信息 -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="active "><a href="#"
                                       class="glyphicon ">&nbsp我的优惠劵&nbsp&nbsp <span
                        class="sr-only">(current)</span></a></li>

                <li><a href="../ztx/toztxjiuxian" class="glyphicon ">&nbsp&nbsp首页&nbsp&nbsp&nbsp&nbsp</a></li>
                <li><a href="../xu1/youhiujuan1" class="glyphicon glyphicon-grain">&nbsp&nbsp领劵中心 &nbsp&nbsp&nbsp&nbsp</a></li>


                <!-- 右边的    导航 按钮样式 -->
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="../lxx/LoginUser"> &nbsp登录</a></li>
                    <li><a href="../lxx/Register">&nbsp免费注册 </a></li>
                    <li><a href="../lxx/zhuxiao">&nbsp&nbsp 注销</a></li>
                </ul>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<br><br>

<div id="divcss5">


            <div  id="data" class="alert alert-warning"></div>

</div>
<br>
</body>
<script>
    //查询    数据展示
    $(function () {
        //创建bootstrapTable
        $("#data").bootstrapTable({
            url: "../xu1/YouHiuJuanCha",
            method : 'post',
            //striped : true, // 斑马线效果     默认false
            //只允许选中一行
            //singleSelect : true,
            //选中行是不选中复选框或者单选按钮
            clickToSelect : true,
            //showToggle : true, //是否显示详细视图和列表视图的切换按钮
            cardView : false, //是否显示详细视图

            minimumCountColumns : 2, //  最少留两列
            detailView : false, //是否显示父子表
            sidePagination : 'server',

            //启动回车键做搜索功能
            searchOnEnterKey : true,
            //设置为false 将禁止所有列的排序。
            sortable : true,
            //设置默认排序为 name
            sortName : 'id',
            //定义排序方式，'asc' 或者 'desc'。
            sortOrder : "desc",
            //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
            // 设置为limit可以获取limit, offset, search, sort, order  queryParamsType:'undefined',
            queryParamsType : 'undefined',
            // 请求服务器数据
            queryParams : function queryParams(params) {
                var param = {
                    pageNumber : params.pageNumber,
                    pageSize : params.pageSize,
                    sortName : params.sortName,
                    sortOrder : params.sortOrder,
                };
                return param;
            },
            columns : [
                //{field : 'yhid', title : '优惠劵编码', width : 300},
                {field : 'productphoto', title : '', width : 200,
                    formatter:function(value,row,index){
                        var a="<img src='"+value+"'  width='100' height='80'>";
                        return a;
                    }
                },
                // {field : 'shangpinid', title : '优惠商品编号', width : 300,},
                { field : 'shuoming', title : '<h4><i><font color=\'#e9967a\' >我的优惠劵</font></i></h4>',width : 500,
                    formatter:function(value,row,index){
                        var a="<h4><font color='red'>￥"+row.jian+"</font></h4>";
                        a+=  "<font color='red'>满"+row.man+"元减"+row.jian+"</font> <br>";
                        a+=row.shuoming+"<br>";
                        a+=row.stadate+"至"+row.enddate;
                        return a;
                    }
                },


                //{ field : 'shuliang', title : '数量剩余', width : 300 },

                { field : 'x', title : '', width : 100,
                    formatter:function(value,row,index){
                      //  var lianjie=JSON.stringify(row.lianjie);
                        var  a="<a href='javascript:shiyong("+row.shangpinid+")' > 立<br>即<br>使<br>用 </a>";
                        return  a;
                    }
                }
            ]
        });
    })


    //使用
    shiyong=function(shangpinid){
      location.href="../ztx/queryone?productid="+shangpinid;
    }


</script>
</html>