<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.ZtxBrandMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.ZtxBrand" >
    <id column="brandid" property="brandid" jdbcType="INTEGER" />
    <result column="brandname" property="brandname" jdbcType="VARCHAR" />
    <result column="typeid" property="typeid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    brandid, brandname, typeid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ly_brand
    where brandid = #{brandid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ly_brand
    where brandid = #{brandid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.model.ZtxBrand" >
    insert into ly_brand (brandid, brandname, typeid
      )
    values (#{brandid,jdbcType=INTEGER}, #{brandname,jdbcType=VARCHAR}, #{typeid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jk.model.ZtxBrand" >
    insert into ly_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="brandid != null" >
        brandid,
      </if>
      <if test="brandname != null" >
        brandname,
      </if>
      <if test="typeid != null" >
        typeid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="brandid != null" >
        #{brandid,jdbcType=INTEGER},
      </if>
      <if test="brandname != null" >
        #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        #{typeid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.model.ZtxBrand" >
    update ly_brand
    <set >
      <if test="brandname != null" >
        brandname = #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        typeid = #{typeid,jdbcType=INTEGER},
      </if>
    </set>
    where brandid = #{brandid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.model.ZtxBrand" >
    update ly_brand
    set brandname = #{brandname,jdbcType=VARCHAR},
      typeid = #{typeid,jdbcType=INTEGER}
    where brandid = #{brandid,jdbcType=INTEGER}
  </update>
</mapper>